<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>
</header>
<body style="font-size:20px; padding:50px;">
  <% if (user_id !== undefined) {%>
    Logged in as: <%= user_email %>
    <form action="/logout" method="POST">
      <label>
        <input id="logout" type="submit" name="logout" value="Logout">
      </label>
    </form>
  <% } else {%>
    <a href="/urls/login">Login Page</a>
    <br>
    <a href="/urls/register">Registration Page</a>
    <br>
  <% } %>