<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>
<form action="/login" method="POST">
  <label>
    <input id="username" type="text" name="username" value="username">
  </label>
  <input type="submit" value="Submit">
</form>
<br>