<!DOCTYPE html>
<html lang="en">
<header>
    <% include partials/_header.ejs %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for (id in urls) {%>
      <li>
        <div class="id">
          <a href="/urls/<%= id %>">
            <%= id %> - <%= urls[id] %>
        </div>
        <form action="/urls/<%= id %>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      </li>
  <% } %>
    </form>
  </ul>
</body>
</html>