<!DOCTYPE html>
<html lang="en">
<header>
  <% include partials/_header.ejs %>
  <form action="/register" method="POST">
    <br>
      <label for"email">Email:</label>
      <input id="email" type="email" name="email" value="">
      <label for"password">Password:</label>
      <input id="password" type="password" name="password" value="">
    <input type="submit" value="Register">
  </form>
</body>
</html>