<!DOCTYPE html>
<html lang="en">
<header>
    <% include partials/_header.ejs %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
  <form action="/urls/<%= id %>" method="POST">
    <label>
      <input type="text" name="longURL" value="<%= longURL %>">
    </label>
    <br><br>
    <input type="submit" value="Edit">
  </form>
</body>
</html>