<!DOCTYPE html>
<html lang="en">
<header>
    <% include partials/_header.ejs %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
  <%= urls%>
  &nbsp
  <%= appURL%>
  <form method="post" action="urls">
    <button type="submit">Delete</button>
  </form>
</body>
</html>